$primary-color: #a21a1a;

.an-advice {
  border: none;
  border-left:6px solid #007bff;

  margin-bottom:50px;

  .an-user-icon{
    height: 30px;
    margin-left:15px;
    padding-bottom: 9px;
  }
}
