<div class="card an-advice ">
  <h3 class="card-header">LG G3 vs GALAXY Note 5</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p class="card-text">Witam serdecznie, kończy mi się umowa na telefon w przyszłym tygodniu i zastanawiam się który aparat mam wybrac</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-4">
        <h6 class="text-muted float-left">piekarz007: 5 minut temu </h6>
        <div class="ml-auto float-right">
        <img src="../../../../assets/icons/view.svg" class="an-user-icon" alt="user image"> <span
        class="text-muted">672</span>
        <img src="../../../../assets/icons/comments.svg" class="an-user-icon" alt="user image"> <span
        class="text-muted">12</span>
        </div>
      </div>

    </div>
  </div>
</div>
