<div class="container py-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card rounded-0 an-login-form an-shadow-rounded">
            <div class="card-header">
              <h3 class="mb-0">Poproś o radę</h3>
            </div>
            <div class="card-body">
              <form name="form" class="form" #addAdvice="ngForm" role="form" (ngSubmit)="add(addAdvice)" ngNativeValidate>
                <div class="form-group">
                  <label for="exampleTextarea">Tytuł</label>
                  <input type="text" class="form-control" name="adTitle" ngModel minlength="5" maxlength="35" required>
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">Krótki opis</label>
                  <textarea class="form-control" name="shortDesc" ngModel rows="2" minlength="15" maxlength="50" required></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">Treść</label>
                  <textarea class="form-control" name="body" ngModel rows="3" required></textarea>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleSelect1">Wybierz Kategorię</label>
                      <select class="form-control" name="category" ngModel required>
                        <option>wybierz</option>
                        <option *ngFor="let category of categories">{{category.Name}}</option>
                      </select>
                    </div>

                  </div>
                  <!-- <div class="col-12">

                    <div class="form-group">
                      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Dodaj zdjęcie
                      </a>

                      <div class="collapse mt-2" id="collapseExample">
                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                      </div>

                    </div>
                    <div class="form-group">
                      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExamples" aria-expanded="false" aria-controls="collapseExample">
                        Dodaj ankietę
                      </a>

                      <div class="collapse mt-2" id="collapseExamples">
                        <input type="file" class="form-control-file" id="exampleInputFiles" aria-describedby="fileHelp">
                      </div>

                    </div>
                    <div class="form-group">
                      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                        Dodaj video (link)
                      </a>

                      <div class="collapse mt-2" id="collapseExample1">
                        <input type="file" class="form-control-file" id="exampleInputFile1" aria-describedby="fileHelp">
                      </div>

                    </div>

                  </div> -->
                </div>
                <div class="row" *ngIf="error">
                  <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                      <strong> Error: {{error}} </strong>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8 mt-auto">
                    <span class="text-muted text-left">Zadbaj o poprawną pisownie i składnie</span>
                  </div>
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-lg float-right">Dodaj</button>
                  </div>
                </div>
              </form>

            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->

        </div>


      </div>
      <!--/row-->

    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->