<nav class="an-nav fixed-top">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item" >
        <a class="nav-link" (click)="sendWall('wall')" routerLinkActive="active"  routerLink="/" >Doradź!</a>
      </li>
      <li class="nav-item" >
        <a (click)="sendWall('top')" routerLink="/" class="nav-link" >Top</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategorie</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/" *ngFor="let category of categories" (click)="sendWall(category.Name)">{{category.Name}}</a>
        </div>
      </li>
      <li class="nav-item" *ngIf=username>
        <a class="nav-link" routerLink="/add-article">Dodaj</a>
      </li>

      <div class="btn-group an-user-profile ml-auto">
        <h3>{{username}}</h3>
        <img src="../../../../assets/icons/user.svg" class="an-user-icon dropdown-toggle" data-toggle="dropdown" alt="user image">
        <div class="dropdown-menu dropdown-menu-right">
          <ng-container *ngIf=username>
            <button class="dropdown-item" type="button">Poproś o rade</button>
            <button class="dropdown-item" type="button">Moje dyskusje</button>
            <button class="dropdown-item" type="button">Ulubione</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" [routerLink]="['/reset-password']">Zmień hasło</button>
            <button class="dropdown-item" type="button" (click)="logout()">Wyloguj</button>
          </ng-container>
          <ng-container *ngIf=!username>
            <button class="dropdown-item" type="button" routerLink="/register">Zarejestruj</button>
            <button class="dropdown-item" type="button" routerLink="/login">Zaloguj</button>
          </ng-container>
        </div>
      </div>


    </ul>
  </div>
</nav>