<div class="card an-article" [routerLink]="['/article', advice.Id]">
  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <h4 class="card-title">{{advice.Title}}</h4>
      </div>
      <div class="col-3">
        <div class="float-right">
          <img src="../../../../assets/icons/movie.svg" class="an-user-icon" alt="user image">
          <img src="../../../../assets/icons/photo.svg" class="an-user-icon" alt="user image">
          <img src="../../../../assets/icons/youtube.svg" class="an-user-icon" alt="user image">
        </div>
      </div>
    </div>
    <p class="card-text mb-0">{{advice.ShortDescription}}</p>
    <div class="row">
      <div class="col-8">
        <h6 class="text-muted float-left">Author: {{advice.AuthorName}}: {{advice.CreateDate | date}} </h6>
        <img src="../../../../assets/icons/view.svg" class="an-user-icon" alt="user image"> <span
        class="text-muted">{{advice.ViewsQuantity}}</span>
        <img src="../../../../assets/icons/comments.svg" class="an-user-icon" alt="user image"> <span
        class="text-muted">{{advice.CommentsQuantity}}</span>
      </div>
      <div class="col-4">
        <a href="#" class="card-link float-right">Zobacz więcej</a>
      </div>
    </div>
  </div>
</div>

