<div class="card an-article" [routerLink]="['/article', '1233']">
  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <h4 class="card-title">LG G3 vs GALAXY Note 5</h4>
      </div>
      <div class="col-3">
        <div class="float-right">
          <img src="../../../../assets/icons/movie.svg" class="an-user-icon" alt="user image">
          <img src="../../../../assets/icons/photo.svg" class="an-user-icon" alt="user image">
          <img src="../../../../assets/icons/youtube.svg" class="an-user-icon" alt="user image">
        </div>
      </div>
    </div>
    <p class="card-text">Witam serdecznie, kończy mi się umowa na telefon w przyszłym tygodniu i zastanawiam się który
      aparat mam wybrac</p>
    <div class="row">
      <div class="col-8">
        <h6 class="text-muted float-left">piekarz007: 5 minut temu </h6>
        <img src="../../../../assets/icons/view.svg" class="an-user-icon" alt="user image"> <span
        class="text-muted">672</span>
        <img src="../../../../assets/icons/comments.svg" class="an-user-icon" alt="user image"> <span
        class="text-muted">12</span>
      </div>
      <div class="col-4">
        <a href="#" class="card-link float-right">Zobacz więcej</a>
      </div>
    </div>
  </div>
</div>

