$primary-color: #a21a1a;
.an-article {
  cursor: pointer;
  margin: {
    top: 10px;
    bottom: 10px;
  }

  &:hover {
    -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.15);
  }
  .an-user-icon {
    height: 30px;
    margin-left: 15px;
    padding-bottom: 9px;
  }

}

.card {
  border: {
    radius: 0px;
    left: 4px solid #007bff;
    right: 0px;
    top: 0px;
  }
}
