<div class="row an-comments mb-2">
  <div class="col-md-12">
    <h3 class="mb-4">Dyskusja</h3>
    <!-- comment -->
    <div class="comment mb-2 row" *ngFor="let comment of comments">
      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1 mt-2 mb-2">
      
          <img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m103.jpg" alt="avatar">
      </div>
      <div class="comment-content col-md-11 col-sm-10">
        <h6 class="small comment-meta">
          <a href="#">{{comment.authorName}}</a> {{comment.createDate | date}}</h6>
        <div class="comment-body">
          <p>
            {{comment.content}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="error">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        <strong> Error: {{error}} </strong>
      </div>
    </div>
  </div>
<form class="form" #commentForm="ngForm" role="form" (ngSubmit)="addComment(commentForm)" ngNativeValidate *ngIf="username; else pleaseLogin">
<div class="row">
  <div class="col-12">
    <textarea rows="3" name="commentBody" ngModel required></textarea>
  </div>
</div>
<div class="row pt-2">
  <div class="col-12">
    <button type="submit" class="btn btn-lg btn-primary">Doradź!</button>
  </div>
</div>
</form>
<ng-template #pleaseLogin>
    <div class="row">
        <div class="col-12">
          <h3 class="text-muted">Zaloguj się aby skomentować</h3>
        </div>
      </div>
</ng-template>