.an-comments {
  .comment {
    border-bottom: 1px solid rgba(0, 0, 0, .125);;
  }
  .comment-reply {
    border-top: 1px solid rgba(0, 0, 0, .125);
    padding-top: 5px;
  }
  .btn {
    border-radius: 0px;
  }
}
textarea {
  width: 100%;
}
